.low-dash {
  background-color: #fff;
  width: 55px;
  height: 5px;
  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }
}

.dash-line {
  display: flex;
  justify-content: space-between;
}

.input {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  background: none;
  border: none;

  &::placeholder {
    text-transform: uppercase;
  }
}