/* These are pixel-perfect, keep in pixels */
.game__centerpiece {
  width: 582px;
  height: 582px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #080000;
  background: url('../../assets/checkers.svg');
}

#game-canvas {
  background-color: black;
  min-width: 94%;
  min-height: 94%;
  max-width: 94%;
  max-height: 94%;
}
